body{
    background-image: url(lofi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


   


/*
.box{
    border: 3px solid white;
    background-color: rgb(117, 117, 117);
    height: 500px;
    width: 500px;
    border-radius: 50px;
    margin-top: 20px;
    box-shadow: 0px 0px 50px gray,
    0px 0px 50px gray,
    0px 0px 50px gray;
    
}

p{
    font-size: 50px;
    color: rgb(0, 0, 0);
}

p:hover{
    color: white;
}

.box:hover{
    background: linear-gradient(80deg, #00ffff,#ff00ff);
    box-shadow: 0px 0px 50px rgb(255, 60, 197),
    0px 0px 50px rgb(75, 219, 255),
    0px 0px 50px rgb(255, 71, 194);
}
*/

    h1{
        color: white;
        border: 3px solid;
        background: linear-gradient(80deg, #00ffff,#ff00ff);
        box-shadow: 0px 0px 50px rgb(255, 60, 197),
        0px 0px 50px rgb(75, 219, 255),
        0px 0px 50px rgb(255, 71, 194);
    }

    section{
        font-weight: bolder;
        font-size: 20px;
        padding: 10px;
        color: aliceblue;
        border: 5px solid white;
        height: 200px;
        width: 200px;
        background: linear-gradient(80deg, #00ffff,#ff00ff);
        box-shadow: 0px 0px 50px rgb(255, 60, 197),
        0px 0px 50px rgb(75, 219, 255),
        0px 0px 50px rgb(255, 71, 194);
    }